.sidenav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;

}

.sidenav a {
  padding: 15px 30px 15px 12px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;


}

/* On mouse-over */
.sidenav a:hover, .dropdown-menu:hover {
  color: green;
  background-color: #262626;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-menu {
  background-color: #262626;
  padding-left: 0px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


