
<!-- sidenav fixed -->
<div class="conatiner">
  <div class="row">
  <div class="sidenav">
  <div class="dropdown">
    <a href="#about" class="dropdown-toggle" type="button" data-toggle="dropdown">Products <span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a href="#" routerLink="/createp" >New Product</a></li>
        <li><a href="#">Complete List</a></li>
       </ul>
  </div>
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Category <span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a href="#">New Category</a></li>
        <li><a href="#">Complete List</a></li>
       </ul>
  </div>
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Orders <span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a href="#">All Orders</a></li>
        <li><a href="#">Abandon Checkouts</a></li>
       </ul>
  </div>
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Customer <span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a href="#">All Customers</a></li>
       </ul>
  </div>
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Carousel Management<span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a href="#">All Carousel</a></li>
       </ul>
  </div>

  </div>
  </div>
  </div>
