<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">FoodRill (ADMIN)</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#" routerLink="/createp" >New Product</a></li>
              <li><a href="#">Complete List</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#">New Category</a></li>
              <li><a href="#">Complete List</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Orders <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#" routerLink="/orderlist">All Orders</a></li>
              <li><a href="#">Abandon Checkouts</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#">All Customers</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Carousel Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#">All Carousels</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
